doctype html
html
  head
    meta(charset='UTF-8')
    title= 'MongoDB API'
    link(rel="stylesheet", href="/css/api.css")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css">
  body
    h1= 'MongoDB API'